.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.1em 2em;
  border: rgb(0, 0, 0) solid 0.15em;
  border-radius: 0.25em;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition:
    border 300ms,
    color 300ms;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #ffffff;
}

.button:active {
  border-color: rgb(255, 255, 255);
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9.5em;
  aspect-ratio: 1;
  background: rgb(0, 0, 0);
  opacity: 50%;
  border-radius: 50%;
  transition:
    transform 500ms,
    background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: rgb(7, 7, 7);
}
